node_modules
**/node_modules
dist
**/dist
.env
.env*.local
.env.local
backend/data/*.sqlite
backend/data/*.sqlite-journal
backend/data/*.sqlite-wal
backend/data/*.sqlite-shm
frontend/.vite
.vite
.DS_Store
*.log
.next
doc/